<body class="ant-img">
<div class="page-header">
  <h1>Ant Man</h1>
<h3>If you want a quick 101 on Ant Man look no further:</h3>
  <h5>Dr. Henry "Hank" Pym, is an American biochemist with extensive knowledge in various scientific fields. Pym discovered a rare group of subatomic particles, which have become known as the "Pym Particles." Pym was able, through the application of magnetic fields, to entrap the particles within two separate serums. One serum would reduce the size of persons and objects, and the other would restore them to their normal size. He used these serums and took on the name Ant Man.</h5>
</div>


<p>Current Series:</p>
<%= link_to 'Ant-Man', findcaptainamerica_path(@comic28) %> <br>
<%= link_to 'Avengers Origins: Ant-Man & the Wasp', findcaptainamerica_path(@comic29) %> <br>

<br><p>Essentials:</p>

<%= link_to 'Tales to Astonish', findcaptainamerica_path(@comic30) %> <br>
<%= link_to 'Avengers', findcaptainamerica_path(@comic31) %> <br>
<%= link_to 'Avengers', findcaptainamerica_path(@comic32) %> <br>
<%= link_to 'Ant-Man', findcaptainamerica_path(@comic33) %> <br>
<%= link_to 'Irredeemable Ant-Man', findcaptainamerica_path(@comic34) %> <br>


<br><p>Supplementary:</p>

</body>
