<body class="panther-img">
<div class="page-header">
  <h1>Black Panther</h1>
<h3>If you want a quick 101 on Black Panther look no further:</h3>
  <h5>The Black Panther is the ceremonial title given to the chief of the Panther Tribe of the advanced African nation of Wakanda. In addition to ruling the country, he is also chief of its various tribes (collectively referred to as the Wakandas). The Panther habit is a symbol of office (head of state) and is used even during diplomatic missions. The Panther is a hereditary title, but one still must earn it.</h5>
</div>


<p>Current Series:</p>
<%= link_to 'Black Panther', findcaptainamerica_path(@comic35) %> <br>

<br><p>Essentials:</p>

<%= link_to 'Fantastic Four', findcaptainamerica_path(@comic36) %> <br>
<%= link_to 'Black Panther', findcaptainamerica_path(@comic37) %> <br>
<%= link_to 'Black Panther', findcaptainamerica_path(@comic38) %> <br>
<%= link_to 'Black Panther', findcaptainamerica_path(@comic39) %> <br>
<%= link_to 'Claws of the Panther', findcaptainamerica_path(@comic40) %> <br>
<%= link_to 'Black Panther: The Man Without Fear', findcaptainamerica_path(@comic41) %> <br>
<%= link_to 'Black Panther: The Most Dangerous Man Alive', findcaptainamerica_path(@comic42) %> <br>


<br><p>Supplementary:</p>

</body>
