<div class="page-header">
  <h1>Captain America: The First Avenger</h1>
<h3>If you want a quick 101 on Captain America look no further:</h3>
  <h5>Vowing to serve his country any way he could, young Steve Rogers took the super soldier serum to become America's one-man army. Fighting for the red, white and blue for over 60 years, Captain America is the living, breathing symbol of freedom and liberty.</h5>
</div>


<p>Current Series:</p>
<%= link_to 'Captain America', findcaptainamerica_path(@comic8) %> <br>

<br><p>Essentials:</p>

<%= link_to 'Captain America: The New Deal', findcaptainamerica_path(@comic9) %> <br>
<%= link_to 'Truth: Red, White, & Black', findcaptainamerica_path(@comic10) %> <br>
<%= link_to 'Captain America', findcaptainamerica_path(@comic11) %> <br>
<%= link_to 'Captain America: Reborn', findcaptainamerica_path(@comic12) %> <br>
<%= link_to 'Steve Roger: Super Soldier', findcaptainamerica_path(@comic13) %> <br>
<%= link_to 'Captain America: Shattered Heroes', findcaptainamerica_path(@comic14) %> <br>


<br><p>Supplementary:</p>
