<body class="hulk-img">
<div class="page-header">
  <h1>The Incredible Hulk</h1>
<h3>If you want a quick 101 on The Hulk look no further:</h3>
  <h5>Caught in a gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. An all too often misunderstood hero, the angrier the Hulk gets, the stronger the Hulk gets.</h5>
</div>


<p>Current Series:</p>
<%= link_to 'Indestructible Hulk', findcaptainamerica_path(@comic22) %> <br>
<%= link_to 'Hulk', findcaptainamerica_path(@comic23) %> <br>

<br><p>Essentials:</p>

<%= link_to 'Incredible Hulk', findcaptainamerica_path(@comic24) %> <br>
<%= link_to 'Incredible Hulk', findcaptainamerica_path(@comic25) %> <br>
<%= link_to 'World War Hulk', findcaptainamerica_path(@comic26) %> <br>
<%= link_to 'Hulk', findcaptainamerica_path(@comic27) %> <br>


<br><p>Supplementary:</p>

</body>
