<div class="page-header">
  <h1>The Invincible Iron Man</h1>
  <h3>If you want a quick 101 on Iron Man look no further:</h3>
  <h5>Wounded, captured and forced to build a weapon by his enemies, billionaire industrialist Tony Stark instead created an advanced suit of armor to save his life and escape captivity. Now with a new outlook on life, Tony uses his money and intelligence to make the world a safer, better place as Iron Man.</h5>
</div>


<p>Current Series:</p>
<%= link_to 'Iron Man', findironman_path(@comic) %>

<p>Essentials:</p>
<%= link_to 'Tales of Suspense', findironman_path(@comic2) %> <br>
<%= link_to 'Avengers', findironman_path(@comic3) %> <br>
<%= link_to 'The Invincible Iron Man', findironman_path(@comic4) %> <br>
<%= link_to 'West Coast Avengers', findironman_path(@comic5) %> <br>
<%= link_to 'Iron Man', findironman_path(@comic6) %> <br>
<%= link_to 'Invincible Iron Man', findironman_path(@comic7) %>

<p>Supplementary:</p>
