<body class="list-img">
<% provide(:title, 'Spotlight') %>
<h2>This month's spotlight is on <%= link_to 'Black Panther', '/black_panther' %>.</h2>
<h4>Or choose from any MCU movie below.</h4>
<ul>
  <li><%= link_to 'Iron Man', '/iron_man' %></li>
  <li><%= link_to 'Captain America', '/captain_america' %></li>
  <li><%= link_to 'Thor', '/thor' %></li>
  <li><%= link_to 'The Hulk', '/hulk' %></li>
  <li><%= link_to 'Ant Man', '/ant_man' %></li>
  <li><%= link_to 'Black Panther', '/black_panther' %></li>
  <li><%= link_to 'Spider Man', '/spider_man' %></li>
</ul>

</body>
