<div class="page-header">
  <h1>Thor: The God of Thunder</h1>
<h3>If you want a quick 101 on Thor look no further:</h3>
  <h5>As the Norse God of thunder and lightning, Thor wields one of the greatest weapons ever made, the enchanted hammer Mjolnir. While others have described Thor as an over-muscled, oafish imbecile, he's quite smart and compassionate. He's self-assured, and he would never, ever stop fighting for a worthwhile cause.</h5>
</div>


<p>Current Series:</p>
<%= link_to 'Thor: God of Thunder', findcaptainamerica_path(@comic15) %> <br>
<%= link_to 'Thor', findcaptainamerica_path(@comic16) %> <br>

<br><p>Essentials:</p>

<%= link_to 'Journey Into Mystery', findcaptainamerica_path(@comic17) %> <br>
<%= link_to 'Thor', findcaptainamerica_path(@comic18) %> <br>
<%= link_to 'Balder The Brave', findcaptainamerica_path(@comic19) %> <br>
<%= link_to 'The Mighty Thor', findcaptainamerica_path(@comic20) %> <br>
<%= link_to 'Thor', findcaptainamerica_path(@comic21) %> <br>


<br><p>Supplementary:</p>
