<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |


<% @comics.each do |comic| %>
  <br><%= comic.title %> |
  <td><%= link_to 'Show', comic %></td>
<% end %>
