<body class="list-img">
<p id="notice"><%= notice %></p>

<h1>Complete Comic List</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Issues</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comics.each do |comic| %>
      <tr>
        <td><%= comic.title %></td>
        <td><%= comic.year %></td>
        <td><%= comic.issues %></td>
        <td><%= link_to 'Show', comic %></td>
        <td><%= link_to 'Edit', edit_comic_path(comic) %></td>
        <td><%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</body>
