<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<%-# link_to 'Edit', edit_comic_path(@comic) %>
<%= link_to 'Back', comics_path %> |
<%= link_to 'Add', currentcomic_path(@comic) %> |
<%= link_to 'Read', currentcomicread_path(@comic) %>
